#title{
  margin-top: 20px;
  font-size: 5rem;
  text-align: center;
  margin-left: auto;
}
.dice{
    margin-top: 20px;
  display: inline-block;
  text-align: center;

}

.container{
  text-align: center;
  width: 70%;
  margin: auto;
}
img{
  width:70%;
}
.ss{
    margin-top: 20px;
}
